html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #bebebe;
  padding: 0;
  margin: 0;
}

header {
  display: grid;
  grid-template-columns: auto 10rem auto;
  grid-template-rows: auto 1.5rem;
  grid-template-areas:
    "left center right"
    ". center .";
  margin-bottom: 1.5rem;
}

main p {
  margin: 1.5rem 1rem;
  padding-bottom: 1.5rem;
  border-bottom: 2px solid #afafaf;
  font-size: 1.125rem;
}

h1 {
  margin: 0;
  grid-area: center;
  z-index: 1;
}

nav {
  grid-column: 1 / -1;
  grid-row: 1;
  background-color: #bd027d;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

nav li {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.125rem;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: .5em .8em;
  background-color: #bd027d;
  border: 2px solid #960062;
  border-radius: 6px;
  margin: 1rem;
}

nav a:hover {
  background-color: #fff;
  color: #960062;
  border: 2px solid #afafaf;
}

main h2 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.25rem;
  margin: 1.5rem 1rem;
}

section ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  margin: 1rem;
  padding: 0;
}

section li {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "top"
    "middle"
    "bottom";
  background-color: #ccc;
  border: 2px solid #afafaf;
  border-radius: 6px;
}

section li h3 {
  grid-area: bottom;
  z-index: 1;
  text-align: center;
  background-color: rgba(0, 0, 0, .1);
  margin: .5em 0;
  padding: 1.5rem 0;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.25rem;
}

section li > img {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}

section div {
  grid-area: top;
  display: flex;
  flex-direction: row-reverse;
  justify-self: end;
  align-items: center;
  border-radius: 1em 0 0 1em;
  background-color: rgba(0, 0, 0, .1);
  padding: 0 .5em;
  margin-top: .5em;
}

section div img {
  width: 1rem;
}

section strong {
  font-style: italic;
  font-size: 1.125rem;
  font-weight: normal;
}

footer p {
  margin: 0;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 1rem;
  border-top: 2px solid #afafaf;
  padding-top: 1.5rem;
  font-size: .875rem;
}

footer a {
  color: #000;
}
